<mat-toolbar color="white">
  <span class="fancy-title" (click)="onTitleClick()">BookEveryShow</span>
  <span class="spacer"></span>
  <input
    type="text"
    placeholder="Search for Movies, Events, Sports and Concerts"
    class="rounded-input"
    (input)="onSearch($event)"
  />
  <span class="spacer"></span>
  <!-- <button class="login-btn" routerLink="/login">Login</button> -->
  <!-- <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <!-- <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/login">Login</button>
  </mat-menu> -->
</mat-toolbar>
